@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

body{
    background-color: #272725;
    color: #fff;
    animation: transitionIn 2.0s;
}

header {
    height: 300px;
    }

nav {  
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    font-size: 14px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    align-items: center;
    animation: transitionIn 2.0s;
}

.links {
    font-family: 'Radio Canada', sans-serif;
    font-style: oblique;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.links a{
    padding: 20px;
    text-decoration: none;
    color: white;
}

.centro{
    font-size: large;
    margin-right: 260px;
}

.sinistra {
    position: absolute;
    top:  0px;
    left: 45px;
    font-size: 20px;
    padding: 20px;
    letter-spacing: 3px;
    justify-content: space-between;
}

.sinistra a {
    color:white;
    text-decoration: none;
    font-family: 'Radio Canada', sans-serif;
    font-style: oblique;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: x-large;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: end;
    position: relative;
    top:150px;
}
  
footer .sinistra{
    left:auto;
}

#prima {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

table { 
    display: flex;
    font-family: 'Radio Canada', sans-serif;
    border: 5px solid #fff;
    font-size: large;
    animation: transitionIn 2.0s;
}

.riga {
color: #447884;
letter-spacing: 1px;
padding: 10px;
font-style: oblique;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    font-family: 'Radio Canada', sans-serif;
    padding: 20px;
    justify-content: space-between;
}

.text_container{
    display: flex;
    font-family: 'Radio Canada', sans-serif;
    justify-content: space-between;
    align-items: center;
}

.choice {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.api {
    width: 200px;
    height: 200px;
    }

.preferiti {
    display: flex;
    justify-content: center;
    font-family: 'Radio Canada', sans-serif;
    font-style: oblique;
    font-size: xxx-large;
    letter-spacing: 2px;
}

.error {
    display: flex;
    justify-content: center;
    color: red;
    font-size: xx-large;
    font-family: 'Radio Canada', sans-serif;
}
button {
    font-family: 'Radio Canada', sans-serif;
    font-size:  large;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.hidden {
    display: none;
}

@media (max-width: 1285px){
    nav{
        flex-direction: column;
    }
    #prima{
    justify-content: unset;
    }
   table{
       font-size: medium;
   }
   .riga {
       display: flex;
   }
   th {
       display: flex;
   }
    #benvenuto {
        margin-left: 0px;
        margin-right: 0px;
    }
    .links {
        display: flex;
        flex-wrap: wrap;
    }
    .sinistra{
        position: unset;
    }
}
