@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

body{
    background-color: #272725;
    color: #fff;
    animation: transitionIn 1.5s;
}

header{
    height: 100px;
}

nav {  
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    font-size: 14px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    align-items: center;
}

.links {
    font-family: 'Radio Canada', sans-serif;
    font-style: oblique;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.links a{
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.links #benvenuto{
    cursor: auto;
    font-size: large;
    padding: 0px;
}

.sinistra {
    position: absolute;
    top:  0px;
    left: 15px;
    font-size: 20px;
    padding: 20px;
    letter-spacing: 3px;
    justify-content: space-between;
    cursor: pointer;
}

.sinistra a {
    color:white;
    text-decoration: none;
    font-family: 'Radio Canada', sans-serif;
    font-style: oblique;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: x-large;
}

.container {
    display: flex;
    margin-top: 40px;
    font-family: 'Radio Canada', sans-serif;
    padding: 20px;
    justify-content: space-between;
}

.text_container{
    display: flex;
    font-family: 'Radio Canada', sans-serif;
    justify-content: space-between;
    align-items: center;
}

#prima .container img {
     max-width: 45vw;
     max-height: 100vh;
}

#seconda .container img {
    max-width: 45vw; 
}

#terza,#quarta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    font-family: 'Radio Canada', sans-serif;
    padding: 20px;
    justify-content: space-between;
}

.contenuto1, .contenuto2 {
    display: flex;
    flex-direction: column;
    width: 46vw;
    margin-left: 30px;
    font-family: 'Radio Canada', sans-serif;
}

.contenuto1 h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: xx-large;
}
.contenuto2 h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: xx-large;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: end;
    margin-top: 10px;
  }

footer {
    position: relative;
    top:40px;
}
footer .sinistra {
    left:auto;  
}

.space {
    white-space: pre-wrap;
}

.api {
width: 200px;
height: 200px;
}

#terza .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quarta .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-style: oblique;
    letter-spacing: 1px;
}

input{
    font-family: 'Radio Canada', sans-serif;
    border-radius: 4px;
    padding: 6px;
}
label{  
    margin-right: 2px;
}

.choice {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.chosen_drink {
    border: 4px solid rebeccapurple;
}

.chosen_meal {
    border: 4px solid lightskyblue;
}

.like {
    max-width: 2em;
    max-height: 2em;
    margin-left: 2px;
}

#submit{
padding: 5px;
letter-spacing: 2px;
background-color: #272725;
color: #fff;
border: none;
font-family: 'Radio Canada', sans-serif;
font-size: xx-large;
font-style: oblique;
cursor:pointer;
}

.button-container {
    display: flex;
    justify-content : center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.finale {
    font-size: xx-large;
}

@media (max-width: 1050px) {
    .sinistra {
        position: unset;
    }
    nav {
        flex-direction: column;
    }
}

@media (max-width: 660px) {
    .contenuto1, .contenuto2 {
        font-size: small;
    }
    
}
@media (max-width: 580px) {
    .links {
        display: flex;
        flex-wrap: wrap;
    }
    #prima {
        margin-top: 120px;
    }
}